<!-- Featured blog post-->

<div *ngIf="showFeaturedBlogPost" class="card mb-4">
  <a routerLink="/blogPosts/{{featuredBlogPost.id}}">
    <img class="card-img-top w-100" [src]="featuredBlogPost.imageUrl" alt="..." />
  </a>
  <div class="card-body">
    <div class="small text-muted">January 1, 2022</div>
    <a routerLink="/blogPosts/{{featuredBlogPost.id}}" class="text-body">
      <h2 class="card-title">{{featuredBlogPost.title}}</h2>
    </a>
    <p class="card-text" [innerHTML]="featuredBlogPost.preview"></p>
    <a class="btn btn-primary" routerLink="/blogPosts/{{featuredBlogPost.id}}">Read more →</a>
  </div>
</div>
<!-- Nested row for non-featured blog posts-->
<div class="row row-cols-2">
  <div *ngFor="let tempBlogPost of blogPosts" class="col">
    <!-- Blog post-->
    <div  class="card mb-4">
      <a routerLink="/blogPosts/{{tempBlogPost.id}}">
        <img class="card-img-top" [src]="tempBlogPost.imageUrl" alt="..." /></a>
      <div class="card-body">
        <div class="small text-muted">January 1, 2022</div>
        <a routerLink="/blogPosts/{{tempBlogPost.id}}" class="text-body">
        <h2 class="card-title h4">
          {{tempBlogPost.title}}
        </h2>
        </a>
        <p class="card-text" [innerHTML]="tempBlogPost.preview"></p>
        <a class="btn btn-primary" routerLink="/blogPosts/{{featuredBlogPost.id}}">Read more →</a>
      </div>
    </div>

  </div>

  <!-- If blogPosts empty then display a message -->
  <div *ngIf="blogPosts?.length ==0" class="alert alert-warning w-100" role="alert">
    No Blog Posts found.
  </div>


</div>
<!-- Pagination-->
<nav *ngIf="blogPosts?.length !=0" aria-label="Pagination">
  <hr class="my-0" />
  <ngb-pagination class="pagination justify-content-center my-4"
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="theTotalElements"
                  [maxSize]="5"
                  [boundaryLinks]="true"
                  (pageChange)="listBlogPost()">
    <ng-template ngbPaginationFirst>First</ng-template>
    <ng-template ngbPaginationLast>Last</ng-template>
    <ng-template ngbPaginationPrevious>Newer</ng-template>
    <ng-template ngbPaginationNext>Older</ng-template>
  </ngb-pagination>
  <div class="pagination justify-content-center my-4">
    <span class="text-body mx-2">Page Size</span>
    <select #mychoice (change)="updatePageSize(mychoice.value)">
      <option>2</option>
      <option selected="true" >5</option>
      <option>10</option>
      <option>20</option>
      <option>50</option>
    </select>
  </div>
</nav>
