<main id="site-main">

  <!-- Post Content -->
  <section class="container">
    <article id="post">
      <!-- article heading -->
      <div class="headings text-center">
        <div class="category">
          <a href="#" class="nav-link">Travel</a>
        </div>

        <div class="title">
          <h2 class="text-title text-dark display-1">{{blogPost.title}}</h2>
        </div>

        <div class="meta">
          <a href="#" class="link display-2 text-secondary px-1">
            <i class="fas fa-user text-primary"></i> John Stephens
          </a>
          <a href="#" class="link display-2 text-secondary px-1">
            <i class="fas fa-clock text-primary"></i>  Clock Wed 02, 2019
          </a>
          <a href="#" class="link display-2 text-secondary px-1">
            <i class="fas fa-comments text-primary"></i> 12
          </a>
        </div>

      </div>

      <!-- thumbnail  -->
      <div class="thumbnail mt-3">
        <img [src]="blogPost.imageUrl" class="thumbnail" alt="">
      </div>

      <!-- content -->
      <div class="content text-dark display-2 secondary-title mt-3" [innerHTML]="blogPost.content">
      </div>

      <a routerLink="/blogPosts" class="display-2 text-dark "><i class="fas fa-circle-arrow-left"></i> Back to Home Page</a>
    </article>

    <!-- post footer -->
    <div class="post-footer mb-3">
      <div class="post-tags d-flex flex-wrap justify-content-center">
        <a href="#" class="nav-link btn bg-light">Travel</a>
        <a href="#" class="nav-link btn bg-light">Food</a>
        <a href="#" class="nav-link btn bg-light">Lifestyle</a>
        <a href="#" class="nav-link btn bg-light">Techonogy</a>
        <a href="#" class="nav-link btn bg-light">Fashion</a>
      </div>

      <div class="post-author text-center">
        <div class="author-avatar">
          <img src="./assets/face/face1.jpg" class="rounded" alt="">
        </div>

        <div class="author-info py-2">
          <h3 class="text-dark">John Stephens</h3>

          <p class="text-secondary secondary-title">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Recusandae, sequi! In harum laborum ipsa voluptatibus doloremque nulla, tempore aut veritatis.
          </p>

          <div class="post-tags d-flex flex-wrap justify-content-center">
            <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="nav-link"><i class="fab fa-dribbble"></i></a>
          </div>
        </div>

      </div>

      <!-- post related -->
      <div class="post-realted py-2">
        <div class="row justify-content-center">
          <div class="prev">
            <div class="py-2">
              <a href="#" class="display-2 text-dark">
                <i class="fas fa-chevron-left"></i>
                Previous Post
              </a>
            </div>
            <article class="article text-center">
              <div class="d-flex">
                <a href="#">
                  <img src="./assets/img9.jpg" class="object-fit" alt="">
                </a>
                <div class="cart-body px-1">
                  <div class="category">
                    <a href="#" class="link text-primary text-secondary">Fashion</a>
                  </div>
                  <a href="#" class="text-title display-1 text-dark">
                    Looking for some feedback for this rejected track
                    technology
                  </a>
                </div>
              </div>
            </article>
          </div>
          <div class="next text-right">
            <div class="py-2">
              <a href="#" class="display-2 text-dark">
                Next Post
                <i class="fas fa-chevron-right"></i>
              </a>
            </div>
            <article class="article text-center">
              <div class="d-flex">
                <div class="cart-body px-1">
                  <div class="category">
                    <a href="#" class="link text-primary text-secondary">Fashion</a>
                  </div>
                  <a href="#" class="text-title display-1 text-dark">
                    Looking for some feedback for this rejected track
                    technology
                  </a>
                </div>
                <a href="#">
                  <img src="./assets/img8.jpg" class="object-fit" alt="">
                </a>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="post-comments py-2">
        <h3 class="text-center display-1 secondary-title py-2">5 Comments</h3>

        <div class="comment-details">
          <div class="comment-item py-2">
            <div class="d-flex">
              <div class="avatar px-2">
                <img src="./assets/face/face1.jpg" class="rounded" alt="">
              </div>
              <div class="comment-content">
                <h5 class="display-2 m-0">Brandon Kelley</h5>
                <p class="title-secondary text-dark">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliqua. Quis ipsum suspendisse ultrices gravida lacus vel facilisis.
                </p>
              </div>
            </div>
            <!-- comment reply -->
            <div class="reply py-2">
              <div class="d-flex">
                <div class="avatar px-2">
                  <img src="./assets/face/face2.jpg" class="rounded" alt="">
                </div>
                <div class="comment-content">
                  <h5 class="display-2 m-0">Brandon Kelley</h5>
                  <p class="title-secondary text-dark">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliqua. Quis ipsum suspendisse ultrices gravida lacus vel facilisis.
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div class="comment-item py-2">
            <div class="d-flex">
              <div class="avatar px-2">
                <img src="./assets/face/face3.jpg" class="rounded" alt="">
              </div>
              <div class="comment-content">
                <h5 class="display-2 m-0">Brandon Kelley</h5>
                <p class="title-secondary text-dark">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore aliqua. Quis ipsum suspendisse ultrices gravida lacus vel facilisis.
                </p>

              </div>
            </div>
          </div>
        </div>

        <h3 class="text-center display-1 secondary-title py-2">Leave Comment</h3>

        <div class="comment-form">
          <div class="d-flex justify-content-between flex-wrap">
            <input type="text" class="form-control " placeholder="Name">
            <input type="email" class="form-control" placeholder="Email">
            <input type="text" class="form-control" placeholder="Website">
          </div>
          <textarea class="form-control mt-3" placeholder="Message" rows="10"></textarea>
          <div class="text-center">
            <button type="submit" class="btn btn-primary display-2 text-light mt-2">Submit</button>
          </div>
        </div>
      </div>

    </div>
    <!-- .post footer -->

  </section>
  <!-- .Post Content -->


</main>
