<!-- Header -->
<header id="header" class="my-shadow my-bg-light sticky">
  <nav class="my-container my-navbar">
    <a href="/index.html" class="my-nav-brand my-text-dark">
      Oussama's Blog
    </a>

    <!-- toggle button -->
    <button class="my-toggle-button" (click)="toggleMenu()"  >
      <span><i class="fas fa-bars"></i></span>
    </button>

    <!-- collapse on toggle button click -->
    <div class="my-collapse" [class.collapse-toggle]="showMenu">
      <ul class="my-navbar-nav">
        <a href="#" class="my-nav-link">Home</a>
        <a href="#" class="my-nav-link">Blog</a>
        <a href="#" class="my-nav-link">Pages</a>
        <a href="#" class="my-nav-link">Categories</a>
        <a href="#" class="my-nav-link">About</a>
        <a href="#" class="my-nav-link">Contact</a>
      </ul>
    </div>

    <!-- collapse on toggle button click -->
    <div class="my-collapse" [class.collapse-toggle]="showMenu">
      <ul class="my-navbar-nav">

        <app-search></app-search>

      </ul>
    </div>
  </nav>
</header>
<!-- .Header -->

<!-- MAIN CONTENT-->

 <router-outlet></router-outlet>

<!-- END MAIN CONTENT-->

<!-- footer -->
<footer id="footer">
  <div class="my-container">
    <div class="my-row my-mb-3">
      <div class="my-col-3">
        <h2 class="footer-title my-secondary-title">About Us</h2>

        <div class="my-secondary-title my-text-secondary">
          <p class="my-mt-2 ">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Deserunt quis voluptate alias illum modi tenetur, iste voluptatem illo. Accusantium, corrupti!
          </p>
          <address>
            <i class="fas fa-map-marker-alt my-text-primary"></i>
            5 South Main Street Los Angeles, ZZ-96110 USA
          </address>

          <div class="phone">
            <i class="fas fa-mobile my-text-primary"></i>
            125-896-485
          </div>

          <div class="email">
            <i class="fas fa-envelope my-text-primary"></i>
            dailysupport@gmail.com
          </div>

        </div>
      </div>
      <div class="my-col-3">
        <h2 class="footer-title my-secondary-title">Featured Post</h2>

        <div class="feature-post">
          <div class="flex-item">
            <article class="article">
              <div class="my-d-flex">
                <a href="#">
                  <img src="./assets/img1.jpg" class="my-object-fit my-px-1" alt="">
                  <div class="my-px-1">
                    <a href="#" class="my-text-title my-display-2 my-text-dark">
                      Looking for some feedback for this rejected track
                      technology
                    </a>
                    <p class="my-secondary-title my-text-secondary my-display-3">
                      <span><i class="far fa-clock my-text-primary"></i> Clock Wed 02, 2021 </span>
                    </p>
                  </div>
                </a>
              </div>
            </article>
          </div>
          <div class="flex-item">
            <article class="article">
              <div class="my-d-flex">
                <a href="#">
                  <img src="./assets/img2.png" class="my-object-fit my-px-1" alt="">
                  <div class="my-px-1">
                    <a href="#" class="my-text-title my-display-2 my-text-dark">
                      Looking for some feedback for this rejected track
                      technology
                    </a>
                    <p class="my-secondary-title my-text-secondary my-display-3">
                      <span><i class="far fa-clock my-text-primary"></i> Clock Wed 02, 2021 </span>
                    </p>
                  </div>
                </a>
              </div>
            </article>
          </div>

        </div>
      </div>
      <div class="my-col-3">
        <h2 class="footer-title my-secondary-title">Categories</h2>

        <app-blog-post-category-menu></app-blog-post-category-menu>


        <h2 class="footer-title my-secondary-title my-mt-2">Social</h2>

        <div class="tags social">
          <div class="my-d-flex my-flex-wrap">
            <a href="#" class="my-nav-link my-btn my-bg-light"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="my-nav-link my-btn my-bg-light"><i class="fab fa-twitter"></i></a>
            <a href="#" class="my-nav-link my-btn my-bg-light"><i class="fab fa-instagram"></i></a>
            <a href="#" class="my-nav-link my-btn my-bg-light"><i class="fab fa-dribbble"></i></a>
          </div>
        </div>

      </div>
    </div>

    <!-- copyrights  -->
    <div class="copyrights">
      <p class="my-text-center my-text-secondary my-display-2">
        © 2021 <a href="#" class="my-text-primary">Dailytuition</a> - Personal Blog Theme. All rights reserved.
      </p>
    </div>
  </div>
</footer>
<!-- .footer -->
